.header {
    height: 100px;
    background-color: rgb(24, 23, 23);
    color: white;
    font-size: 30px;
    text-align: center;
    padding-top: 35px;
    box-sizing: border-box;
}

.nav {
    height: 25px;
    background-color: rgb(119, 118, 118);
    color: white;
    font-size: 20px;
    padding-left: 30px;
    margin-bottom: 10px;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

.main {
        display: inline-block;
        width: 64%;
        background-color:#969696;
        height: 300px;
        text-align: center;
        margin-bottom: 20px;
}

.sidebar {
    display: inline-block;
    width: 34%;
    background-color:#625f5f;
    height: 300px;
    text-align: center;
    margin-bottom: 20px;
}

.footer {
    height: 50px;
    font-size: 30px;
    text-align: center;
    color: white;
    background-color: #424242;
    padding-top: 20px;
}